In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df = pd.read_csv("/Users/theodoreplotkin/Desktop/postmalone/GA_Data_Science/Week_1/practice_csv/rollingsales_manhattan.csv")
df

#.read_csv() method reads in CSV files, we have to specify the path

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,390,61,,A4,189 EAST 7TH STREET,,...,1,0,1,987,"2,183",1860,1,A4,"$\t4,844,809",5/22/18
1,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,390,61,,A4,189 EAST 7TH STREET,,...,1,0,1,987,"2,183",1860,1,A4,$\t-,5/23/18
2,1,ALPHABET CITY,02 TWO FAMILY DWELLINGS,1,390,35,,B1,113 AVENUE C,,...,2,0,2,"1,218","4,764",1899,1,B1,$\t-,4/25/18
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,385,36,,C7,27 AVENUE C,,...,24,1,25,"2,650","9,960",1910,2,C7,"$\t5,235,000",7/11/17
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,390,54,,C3,203 EAST 7TH STREET,,...,4,0,4,"1,950","5,446",2001,2,C3,"$\t6,250,000",5/9/18
5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,390,64,,C4,187 EAST 7TH STREET,,...,8,2,10,"1,642","5,220",1910,2,C4,"$\t2,400,000",5/18/18
6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,0,5,"1,633","6,440",1900,2,C2,"$\t6,625,000",7/19/17
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,393,47,,C4,377 EAST 10TH,,...,12,0,12,"2,370","10,715",1900,2,C4,"$\t954,623",6/4/18
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,398,32,,C7,30 AVENUE B,,...,16,2,18,"1,934","8,700",1900,2,C7,$\t-,3/5/18
9,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,398,32,,C7,30 AVENUE B,,...,16,2,18,"1,934","8,700",1900,2,C7,$\t-,3/5/18
10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,398,33,,C7,28 AVENUE B,,...,16,1,17,"1,933","8,699",1900,2,C7,"$\t5,000,000",3/5/18
11,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,398,33,,C7,28 AVENUE B,,...,16,1,17,"1,933","8,699",1900,2,C7,$\t-,3/5/18
12,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,3,31,"4,616","18,690",1900,2,C7,"$\t7,906,412",3/5/18
13,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,,...,28,3,31,"4,616","18,690",1900,2,C7,$\t-,3/5/18
14,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,400,54,,C7,207 EAST 4TH STREET,,...,8,3,11,"2,364","7,166",1900,2,C7,"$\t3,000,000",5/18/18
15,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,400,61,,C7,193 EAST 4TH STREET,,...,11,1,12,"2,388","8,045",1900,2,C7,"$\t7,675,000",11/13/17
16,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,36,,C4,106 AVENUE B,,...,8,2,10,"1,919","7,810",1900,2,C4,"$\t3,100,000",5/18/18
17,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,47,,C3,317 EAST 10TH STREET,,...,4,0,4,"2,369","4,100",1900,2,C3,"$\t5,850,000",3/29/18
18,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,405,16,,C4,516 EAST 12TH STREET,,...,20,0,20,"2,581","9,730",1900,2,C4,$\t-,7/20/17
19,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,406,27,,C4,544 EAST 13TH STREET,,...,14,0,14,"2,468","10,888",1900,2,C4,"$\t1,423,033",6/4/18
20,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,407,18,,C7,520 EAST 14TH STREET,,...,44,2,46,"5,163","21,007",1900,2,C7,$\t-,7/20/17
21,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,394,44,,D7,181 AVENUE C,,...,30,4,34,"4,295","21,328",1910,2,D7,$\t-,7/20/17
22,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3 STREET, 2E",,...,0,0,0,0,0,1920,2,C6,"$\t423,000",7/14/17
23,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,40,,C6,"327 EAST 3 STREET, 1B",,...,0,0,0,0,0,1920,2,C6,$\t400,12/15/17
24,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,46,,C6,"317 EAST 3RD STREET, 11",,...,0,0,0,0,0,1925,2,C6,"$\t445,000",1/3/18
25,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,46,,C6,"317 EAST THIRD STREET, A",,...,0,0,0,0,0,1925,2,C6,"$\t590,000",2/28/18
26,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,49,,C6,"311 EAST 3RD, 22",,...,0,0,0,0,0,1920,2,C6,"$\t510,000",8/17/17
27,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,49,,C6,"311 EAST 3RD STREET, 12",,...,0,0,0,0,0,1920,2,C6,"$\t449,000",11/6/17
28,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2,373,49,,C6,"311 EAST 3RD STREET, 20",,...,0,0,0,0,0,1920,2,C6,"$\t385,000",5/31/18
29,1,ALPHABET CITY,09 COOPS - WALKUP APARTMENTS,2C,374,8,,C6,"702 EAST 5TH STREET, 4W",,...,0,0,0,0,0,1900,2,C6,$\t-,5/29/18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16979,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2164,1073,,R4,4260 BROADWAY,610,...,1,0,1,0,0,0,2,R4,"$\t540,000",4/30/18
16980,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2164,1074,,R4,160 WADSWORTH AVENUE,102,...,1,0,1,0,0,0,2,R4,"$\t515,000",9/18/17
16981,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2164,1085,,R4,160 WADSWORTH AVENUE,206,...,1,0,1,0,0,0,2,R4,$\t-,12/22/17
16982,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2164,1086,,R4,160 WADSWORTH AVENUE,207,...,1,0,1,0,0,0,2,R4,"$\t540,000",4/3/18
16983,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2164,1088,,R4,160 WADSWORTH AVENUE,209,...,1,0,1,0,0,0,2,R4,"$\t352,000",9/14/17
16984,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2164,1118,,R4,160 WADSWORTH AVENUE,508,...,1,0,1,0,0,0,2,R4,"$\t450,500",6/27/18
16985,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2179,1014,,R4,255 CABRINI BOULEVARD,1A,...,1,0,1,0,0,1987,2,R4,"$\t507,500",12/11/17
16986,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2179,1019,,R4,255 CABRINI BOULEVARD,6A,...,1,0,1,0,0,1987,2,R4,"$\t520,000",11/16/17
16987,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2179,1034,,R4,255 CABRINI BOULEVARD,6C,...,1,0,1,0,0,1987,2,R4,"$\t810,000",10/3/17
16988,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2179,1073,,R4,255 CABRINI BOULEVARD,6H,...,1,0,1,0,0,1987,2,R4,"$\t855,000",9/19/17
16989,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2179,1202,,R4,340 CABRINI BOULEVARD,2,...,1,0,1,0,0,2002,2,R4,$\t-,11/22/17
16990,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2179,1210,,R4,340 CABRINI BOULEVARD,302,...,1,0,1,0,0,2002,2,R4,"$\t350,000",8/30/17
16991,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2180,1249,,R4,736 187TH STREET,303,...,1,0,1,0,0,2003,2,R4,"$\t995,000",5/10/18
16992,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2180,1266,,R4,736 WEST 187 STREET,502,...,1,0,1,0,0,2003,2,R4,$\t-,8/25/17
16993,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2180,1402,,R4,69 BENNETT AVENUE,102,...,1,0,1,0,0,1954,2,R4,"$\t505,000",5/10/18
16994,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2180,1427,,R4,69 BENNETT AVENUE,307,...,1,0,1,0,0,1954,2,R4,"$\t510,000",12/18/17
16995,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2180,1504,,R4,105 BENNETT AVENUE,12B,...,1,0,1,0,0,1939,2,R4,"$\t492,804",12/27/17
16996,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2180,1515,,R4,105 BENNETT AVENUE,24A,...,1,0,1,0,0,1939,2,R4,"$\t510,000",5/23/18
16997,1,WASHINGTON HEIGHTS UPPER,13 CONDOS - ELEVATOR APARTMENTS,2,2180,1557,,R4,105 BENNETT AVENUE,63A,...,1,0,1,0,0,1939,2,R4,"$\t535,000",10/4/17
16998,1,WASHINGTON HEIGHTS UPPER,21 OFFICE BUILDINGS,4,2163,43,,O2,659 WEST 179 STREET,,...,0,3,3,"3,333","6,000",1900,4,O2,$\t-,2/13/18
16999,1,WASHINGTON HEIGHTS UPPER,22 STORE BUILDINGS,4,2158,65,,K1,1588 ST NICHOLAS AVENUE,,...,0,4,4,"4,488","4,991",1960,4,K1,"$\t2,375,000",12/29/17
17000,1,WASHINGTON HEIGHTS UPPER,22 STORE BUILDINGS,4,2170,59,,K2,4446 BROADWAY,,...,0,4,4,"10,675","9,900",1930,4,K2,$\t-,8/16/17
17001,1,WASHINGTON HEIGHTS UPPER,22 STORE BUILDINGS,4,2170,70,,K2,4468-4474 BROADWAY,,...,0,7,7,"10,000","20,000",1991,4,K2,"$\t9,150,000",2/22/18
17002,1,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2154,18,,G9,552 WEST 182 STREET,,...,0,1,1,"1,260","1,080",1990,4,G9,"$\t500,000",5/9/18
17003,1,WASHINGTON HEIGHTS UPPER,29 COMMERCIAL GARAGES,4,2175,1,,G1,4650 BROADWAY,,...,0,3,3,"47,175","75,000",1928,4,G1,"$\t26,000,000",4/17/18
17004,1,WASHINGTON HEIGHTS UPPER,31 COMMERCIAL VACANT LAND,4,2179,155,,V1,207 CABRINI BOULEVARD,,...,0,0,0,"1,555",0,0,4,V1,$\t-,10/31/17
17005,1,WASHINGTON HEIGHTS UPPER,31 COMMERCIAL VACANT LAND,4,2179,474,,V1,CHITTENDEN AVENUE,,...,0,0,0,"11,000",0,0,4,V1,"$\t563,400",10/24/17
17006,1,WASHINGTON HEIGHTS UPPER,32 HOSPITAL AND HEALTH FACILITIES,4,2152,47,,I9,2414 AMSTERDAM AVENUE,,...,0,3,3,"2,500","3,350",1902,4,I9,"$\t1,375,000",12/8/17
17007,1,WASHINGTON HEIGHTS UPPER,33 EDUCATIONAL FACILITIES,4,2156,61,,W6,515 WEST 185 STREET,,...,0,1,1,"2,700","16,262",2007,4,W6,$\t-,8/23/17
17008,1,WASHINGTON HEIGHTS UPPER,38 ASYLUMS AND HOMES,4,2156,71,,N2,536 W. 187TH STREET,,...,0,1,1,"1,444","3,907",1920,4,N2,"$\t1,100,000",9/7/17

In [20]:
df.columns[:] #df.columns[] tells us the name of each column 

#df.drop()

#drop allows us to remove a specific column from the data set 

#df.drop( df.column[column_number], axis = 0 or 1, inplace = True or False)

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [21]:
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,390,61,,A4,189 EAST 7TH STREET,,...,1,0,1,987,"2,183",1860,1,A4,"$\t4,844,809",5/22/18
1,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,390,61,,A4,189 EAST 7TH STREET,,...,1,0,1,987,"2,183",1860,1,A4,$\t-,5/23/18
2,1,ALPHABET CITY,02 TWO FAMILY DWELLINGS,1,390,35,,B1,113 AVENUE C,,...,2,0,2,"1,218","4,764",1899,1,B1,$\t-,4/25/18
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,385,36,,C7,27 AVENUE C,,...,24,1,25,"2,650","9,960",1910,2,C7,"$\t5,235,000",7/11/17
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,390,54,,C3,203 EAST 7TH STREET,,...,4,0,4,"1,950","5,446",2001,2,C3,"$\t6,250,000",5/9/18

In [22]:
indep = ['ADDRESS','NEIGHBORHOOD','SALE DATE','GROSS SQUARE FEET','LAND SQUARE FEET','YEAR BUILT','SALE PRICE']
X = df[indep]

X.head()

,ADDRESS,NEIGHBORHOOD,SALE DATE,GROSS SQUARE FEET,LAND SQUARE FEET,YEAR BUILT,SALE PRICE
0,189 EAST 7TH STREET,ALPHABET CITY,5/22/18,"2,183",987,1860,"$\t4,844,809"
1,189 EAST 7TH STREET,ALPHABET CITY,5/23/18,"2,183",987,1860,$\t-
2,113 AVENUE C,ALPHABET CITY,4/25/18,"4,764","1,218",1899,$\t-
3,27 AVENUE C,ALPHABET CITY,7/11/17,"9,960","2,650",1910,"$\t5,235,000"
4,203 EAST 7TH STREET,ALPHABET CITY,5/9/18,"5,446","1,950",2001,"$\t6,250,000"

In [23]:
#compute num missing entires
#X.isnull().sum()

In [24]:
#get info on columns
#X.info()

In [25]:
#number of observations PRE-CLEANING
len(X)

17009

In [9]:
X["SALE PRICE"].head()

0     $\t4,844,809
1           $\t-
2           $\t-
3     $\t5,235,000
4     $\t6,250,000
Name: SALE PRICE, dtype: object

In [29]:
#remove the "$\t, and white space"
#X["SALE PRICE"][4][3:].rstrip()

A = []
for i in range(len(X["SALE PRICE"])):
    price_no_commas = ""
    for ch in X["SALE PRICE"][i]:
        if ch != ",":
            price_no_commas += ch
    A.append(price_no_commas[3:].rstrip())

In [30]:
df["SALE PRICE NEW"] = A

df.drop("SALE PRICE", axis=1, inplace = True)
#note that setting axis = 1 makes .drop() remove columns 
#          setting axis = 0 makes .drop() remove rows

#drop can accept a list as its first argument, dropping either a list of column names (strings)
#or a list of row indexes (ints)

df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE DATE,SALE PRICE NEW
0,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,390,61,,A4,189 EAST 7TH STREET,,...,1,0,1,987,"2,183",1860,1,A4,5/22/18,4844809
1,1,ALPHABET CITY,01 ONE FAMILY DWELLINGS,1,390,61,,A4,189 EAST 7TH STREET,,...,1,0,1,987,"2,183",1860,1,A4,5/23/18,-
2,1,ALPHABET CITY,02 TWO FAMILY DWELLINGS,1,390,35,,B1,113 AVENUE C,,...,2,0,2,"1,218","4,764",1899,1,B1,4/25/18,-
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,385,36,,C7,27 AVENUE C,,...,24,1,25,"2,650","9,960",1910,2,C7,7/11/17,5235000
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,390,54,,C3,203 EAST 7TH STREET,,...,4,0,4,"1,950","5,446",2001,2,C3,5/9/18,6250000

In [31]:
indep = ['ADDRESS','NEIGHBORHOOD','SALE DATE','GROSS SQUARE FEET','LAND SQUARE FEET','YEAR BUILT','SALE PRICE NEW']
X = df[indep]

X.head()

,ADDRESS,NEIGHBORHOOD,SALE DATE,GROSS SQUARE FEET,LAND SQUARE FEET,YEAR BUILT,SALE PRICE NEW
0,189 EAST 7TH STREET,ALPHABET CITY,5/22/18,"2,183",987,1860,4844809
1,189 EAST 7TH STREET,ALPHABET CITY,5/23/18,"2,183",987,1860,-
2,113 AVENUE C,ALPHABET CITY,4/25/18,"4,764","1,218",1899,-
3,27 AVENUE C,ALPHABET CITY,7/11/17,"9,960","2,650",1910,5235000
4,203 EAST 7TH STREET,ALPHABET CITY,5/9/18,"5,446","1,950",2001,6250000

In [33]:
count_missing_prices = 0

for price in df["SALE PRICE NEW"]:
    if not price.isdigit():
        count_missing_prices += 1

print("The number of missing prices is", count_missing_prices)

#so we must cut 3754 rows from the dataframe

The number of missing prices is 3754

In [34]:
#df.drop([1,2], axis=0, inplace=True)

In [35]:
#write a code that drops a row iff the sale price new entry is "-"

#for loop appends a list of index values where NA prices occur
index = []
i = 0
for price in df["SALE PRICE NEW"]:
    if not price.isdigit():
        index.append(i)
    i += 1


#the .drop() method takes a list of values to remove, and an axis = 0 (since we're removing rows)
df.drop(index, axis=0, inplace=True)

In [49]:
indep = ['ADDRESS','NEIGHBORHOOD','BUILDING CLASS AT TIME OF SALE','SALE DATE','GROSS SQUARE FEET','LAND SQUARE FEET','YEAR BUILT','SALE PRICE NEW']

df[indep].head(10)

,ADDRESS,NEIGHBORHOOD,BUILDING CLASS AT TIME OF SALE,SALE DATE,GROSS SQUARE FEET,LAND SQUARE FEET,YEAR BUILT,SALE PRICE NEW
0,189 EAST 7TH STREET,ALPHABET CITY,A4,5/22/18,"2,183",987,1860,4844809
3,27 AVENUE C,ALPHABET CITY,C7,7/11/17,"9,960","2,650",1910,5235000
4,203 EAST 7TH STREET,ALPHABET CITY,C3,5/9/18,"5,446","1,950",2001,6250000
5,187 EAST 7TH STREET,ALPHABET CITY,C4,5/18/18,"5,220","1,642",1910,2400000
6,153 AVENUE B,ALPHABET CITY,C2,7/19/17,"6,440","1,633",1900,6625000
7,377 EAST 10TH,ALPHABET CITY,C4,6/4/18,"10,715","2,370",1900,954623
10,28 AVENUE B,ALPHABET CITY,C7,3/5/18,"8,699","1,933",1900,5000000
12,234 EAST 4TH STREET,ALPHABET CITY,C7,3/5/18,"18,690","4,616",1900,7906412
14,207 EAST 4TH STREET,ALPHABET CITY,C7,5/18/18,"7,166","2,364",1900,3000000
15,193 EAST 4TH STREET,ALPHABET CITY,C7,11/13/17,"8,045","2,388",1900,7675000

In [37]:
#number of observations after removing NA prices
len(df)

13255

In [39]:
#3754 + 13255 = 17009