### Lesson 12 Lab:  Feature Engineering the Bikeshare Dataset

### Step 1:  Load in the Dataset

In [93]:
import numpy as np
import pandas as pd

In [94]:
url = "/Users/theodoreplotkin/desktop/postmalone/GA_Data_Science/DAT-06-24/class material/Unit 3/data/bikeshare.csv"

bikes = pd.read_csv(url, index_col = 'datetime', parse_dates = True)

bikes.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
datetime,,,,,,,,,
2011-01-01 00:00:00,Spring,0,0,Clear Skies,9.84,14.395,81,0.0,16
2011-01-01 01:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,40
2011-01-01 02:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,32
2011-01-01 03:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,13
2011-01-01 04:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,1

### Step 2: Transform Your Categorical Variables (If Necessary)

In [95]:
set(bikes["weather"])

def weather_encoding(row):
    if "Clear Skies" in row["weather"]:
        return 4
    elif "Partly Cloudy" in row["weather"]:
        return 3
    elif "Light Storms/Rain" in row["weather"]:
        return 2
    elif "Heavy Storms/Rain" in row["weather"]:
        return 1

bikes["weather_encoding"] = bikes.apply(weather_encoding, axis = 1 )

In [96]:
#bikes = pd.get_dummies(bikes, drop_first = True)

In [97]:
bikes.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,weather_encoding
datetime,,,,,,,,,,
2011-01-01 00:00:00,Spring,0,0,Clear Skies,9.84,14.395,81,0.0,16,4
2011-01-01 01:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,40,4
2011-01-01 02:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,32,4
2011-01-01 03:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,13,4
2011-01-01 04:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,1,4

In [98]:
#note weve set out index to be date time

### Step 3:  Extract Units of Time That You Feel Might Be Useful as New Columns

You can find all of the necessary ones here:  https://pandas.pydata.org/pandas-docs/version/0.24/reference/series.html#time-series-related

Or if you're using an index:  https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DatetimeIndex.html

In [99]:
bikes["hour"] = bikes.index.hour

In [100]:
bikes.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,weather_encoding,hour
datetime,,,,,,,,,,,
2011-01-01 00:00:00,Spring,0,0,Clear Skies,9.84,14.395,81,0.0,16,4,0
2011-01-01 01:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,40,4,1
2011-01-01 02:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,32,4,2
2011-01-01 03:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,13,4,3
2011-01-01 04:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,1,4,4

In [101]:
bikes["weekday"] = bikes.index.weekday #Monday = 0,... Sunday = 6

In [102]:
bikes.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,weather_encoding,hour,weekday
datetime,,,,,,,,,,,,
2011-01-01 00:00:00,Spring,0,0,Clear Skies,9.84,14.395,81,0.0,16,4,0,5
2011-01-01 01:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,40,4,1,5
2011-01-01 02:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,32,4,2,5
2011-01-01 03:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,13,4,3,5
2011-01-01 04:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,1,4,4,5

In [103]:
X_data = bikes[["temp","humidity","windspeed","weather_encoding","hour","weekday"]]

In [104]:
X_data = (X_data - X_data.mean())/(X_data.std())

In [105]:
X_data.head() #now our data is standardized

,temp,humidity,windspeed,weather_encoding,hour,weekday
datetime,,,,,,
2011-01-01 00:00:00,-1.333599,0.993167,-1.567682,0.660148,-1.668867,0.990747
2011-01-01 01:00:00,-1.438841,0.941206,-1.567682,0.660148,-1.524271,0.990747
2011-01-01 02:00:00,-1.438841,0.941206,-1.567682,0.660148,-1.379676,0.990747
2011-01-01 03:00:00,-1.333599,0.681399,-1.567682,0.660148,-1.235080,0.990747
2011-01-01 04:00:00,-1.333599,0.681399,-1.567682,0.660148,-1.090484,0.990747

In [106]:
X_data["holiday"] = bikes["holiday"]
X_data["workingday"] = bikes["workingday"]

In [109]:
X_data = pd.get_dummies(bikes.loc[:, (bikes.columns != "weather") & (bikes.columns != "count")], drop_first = True)

In [110]:
X_data.columns

Index(['holiday', 'workingday', 'temp', 'atemp', 'humidity', 'windspeed',
       'weather_encoding', 'hour', 'weekday', 'season_Spring', 'season_Summer',
       'season_Winter'],
      dtype='object')

In [111]:
X_data.head()

,holiday,workingday,temp,atemp,humidity,windspeed,weather_encoding,hour,weekday,season_Spring,season_Summer,season_Winter
datetime,,,,,,,,,,,,
2011-01-01 00:00:00,0,0,9.84,14.395,81,0.0,4,0,5,1,0,0
2011-01-01 01:00:00,0,0,9.02,13.635,80,0.0,4,1,5,1,0,0
2011-01-01 02:00:00,0,0,9.02,13.635,80,0.0,4,2,5,1,0,0
2011-01-01 03:00:00,0,0,9.84,14.395,75,0.0,4,3,5,1,0,0
2011-01-01 04:00:00,0,0,9.84,14.395,75,0.0,4,4,5,1,0,0

In [112]:
y = bikes["count"]

In [113]:
#lets fit a model on all variables

In [114]:
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [115]:
model1 = LinearRegression()

In [116]:
model1.fit(X_data,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [117]:
coeffs = pd.DataFrame({
    "Variable": X_data.columns,
    "Weight": model1.coef_    
}).sort_values(by = "Weight", ascending = False)

coeffs

            Variable     Weight
11     season_Winter  79.162704
10     season_Summer  27.155044
9      season_Spring  12.545422
7               hour   7.343441
2               temp   6.609523
6   weather_encoding   4.881193
3              atemp   2.370251
1         workingday   2.286170
8            weekday   1.090771
5          windspeed   0.207736
4           humidity  -2.101759
0            holiday  -2.593518

In [118]:
model1.score(X_data,y)

0.34405985123420124

In [119]:
print("MAE:", metrics.mean_absolute_error(bikes["count"],model1.predict(X_data)) )

MAE: 108.15608567856671

In [120]:
bikes["prediction"] = model1.predict(X_data)

In [122]:
bikes.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,weather_encoding,hour,weekday,prediction
datetime,,,,,,,,,,,,,
2011-01-01 00:00:00,Spring,0,0,Clear Skies,9.84,14.395,81,0.0,16,4,0,5,-41.162128
2011-01-01 01:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,40,4,1,5,-38.938127
2011-01-01 02:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,32,4,2,5,-31.594686
2011-01-01 03:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,13,4,3,5,-6.521251
2011-01-01 04:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,1,4,4,5,0.822190

### Step 4: Re-Run Your Model With the New Info, and Grab the Metric of Your Choice:  R_squared, MAE, or MSE

### (Bonus):  Create A New Column Called 'Daytime' That Returns 0 or 1 Depending on If It's Between 7 A.M. or 8 P.M. When The Ride Happens

### Check To See If Your Model Improved

### (Bonus):  Analyze Your Residuals

##### 1).  Pull A Histogram

##### 2). Evaluate the Mean and Standard Deviation of Your Residuals

##### 3).  Use Seaborn's lmplot to Your Errors Against the Predicted Value:  Is There An Inherent Pattern?